.loader {
    text-align: center;
}

.newOrderSection {
    background-image: url('https://wallpaperaccess.com/full/546539.jpg');
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5rem 3rem 2rem 3rem;
    box-shadow: inset 0 -7px 9px -7px rgba(0, 0, 0, 0.4);
}

.orders-wrap {
    background-color: rgba(255, 255, 255, 0.362);
    border-radius: 0.5rem;
    width: 70%;
    padding: 1rem;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

.new-order {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.5rem;
    width: auto;
    margin: 1rem auto;
    min-width: 80%;
    max-width: 80%;
}

.order-img {
    width: 10vw;
}

.order-price-order {
    font-size: 1rem;
}

.order-description {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.order-total {
    padding: 1rem;
    display: flex;
}

.remove-order {
    margin-left: 1rem;
    background-color: transparent;
    border: none;
}

.remove-order:hover {
    cursor: pointer;
    text-decoration: underline;
}

.order-quantity {
    padding-right: 2rem;
}

.buy-btn {
    margin: 1rem auto;
    width: 50%;
    color: black;
    border-radius: 0.75rem;
    background-color: rgb(88, 183, 76);
    border: none;
    transition: 0.3s;
    padding: 0.75rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buy-btn:hover {
    background-color: rgb(89, 156, 69);
    position: relative;
    top: 0.1rem;
    color: white;
    cursor: pointer;
}

.total-price-order {
    text-align: center;
}

/*--------------------------------------------------------------------*/

.findOrderSection {}

.findOrder-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1rem;
}

.findOrder-title h2 {
    color: rgb(71, 128, 64);
    font-size: 2rem;
}

.findOrder-title img {
    width: 2.5rem;
    padding-left: 0.5rem;
}

.order-info {
    padding: 1rem;
    width: auto;
    display: flex;
    gap: 2rem;
    margin: 5vh auto;
}

.order-info p {
    padding: 0.5rem;
}

.order-info div {
    border: 1px solid black;
    width: 50%;
    padding: 2rem;
}

.order-info p span {
    padding-left: 0.5rem;
    color: rgb(124, 124, 124);
}

.search-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1.25rem;
}

.search-form input {
    width: 20vw;
    margin: 0.75rem;
    border-radius: 0.5rem;
    border: 0.1rem solid rgb(71, 128, 64);
    padding: 0.75rem;
    font-size: 0.75rem;
}

.search-form button {
    color: black;
    border-radius: 0.75rem;
    background-color: rgb(88, 183, 76);
    border: none;
    transition: 0.3s;
    padding: 0.75rem 1rem;
}

.search-form button:hover {
    background-color: rgb(89, 156, 69);
    position: relative;
    top: 0.1rem;
    color: white;
    cursor: pointer;
}

input:focus {
    border: 0.15rem solid rgb(88, 183, 76);
    outline: none;
}