.registrationSection {
    background: #5A3F37;
    background: linear-gradient(to right, #2C7744, #5A3F37);
    padding: 4.5rem 2rem;
}

#form-register {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.form-register-wrap {
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.486);
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    width: 50vw;
    border-radius: 0.5rem;
    border: 2px solid white;
    max-width: 50vw;
}

.form-register-wrap h2 {
    font-size: 5.5rem;
    display: flex;
    width: 50%;
    padding: 2rem;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background-image: url('https://wallpapertops.com/walldb/original/d/a/6/726097.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    color: white;
}


.reg-input {
    margin: 0.6rem 1rem;
    padding: 0.5rem;
    transition: 0.2s;
    height: 1.4rem;
    border: none;
    border-bottom: 1px solid black;
    position: relative;
}

.reg-input:hover {
    border-radius: 0.2rem;
    border: 1px solid rgb(13, 174, 13);
    box-sizing: content-box;
    max-height: 1.4rem;
}

.reg-input:focus {
    border-radius: 0.5rem;
    border: 2px solid rgb(13, 174, 13);
    max-height: 1.4rem;
}

.btn-register {
    margin: 1rem;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    background-color: green;
    color: white;
    border: none;
}

.btn-register:hover {
    background-color: rgb(6, 77, 6);
    cursor: pointer;
}

.error-auth {
    font-size: 0.5rem;
    color: rgb(143, 17, 17);
    padding-left: 1rem;
}

.linkBack {
    font-size: 1.3rem;
    margin-top: 3rem;
}

.linkBack:hover {
    cursor: pointer;
    border-bottom: 1px solid black;
}

.hide-pass-btn {
    background-color: transparent;
    border: none;
}

.hide-pass-btn svg:hover {
    cursor: pointer;
    fill: black;
}

.hide-pass-btn svg {
    width: 1.5rem;
    fill: gray;
}

.password-wrap {
    display: flex;
    align-items: center;
}

.password-wrap input {
    margin: 0.6rem 1rem;
    padding: 0.5rem;
    transition: 0.2s;
    height: 1.4rem;
    border: none;
    border-bottom: 1px solid black;
    width: 80%;
    margin-right: 0;
    padding-right: 0;
}

.password-wrap input:hover {
    border-radius: 0.2rem;
    border: 1px solid rgb(13, 174, 13);
    max-height: 1.4rem;
}

.password-wrap input:focus {
    border-radius: 0.5rem;
    border: 2px solid rgb(13, 174, 13);
    max-height: 1.4rem;
}